<div class="toolbar" >
    <img class="profile-photo" src="https://images.unsplash.com/photo-1553272725-086100aecf5e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"/>
    <div class="profile-info">
        <p class="name">{{user.email}}</p>
        <p class="greeting">Belle journée aujourd’hui? ✨</p>
    </div>

    <p class="button-settings">Gérer mon compte</p>

</div>
<button class="button" (click)="db.CreateTodoList()">Create a todolist</button>


<mat-grid-list cols="4" rowHeight="2:2">
    <mat-grid-tile *ngFor="let todolist of todolists ">
        <div routerLink="/todolist/{{todolist.id}}" class="todo-list-container">
            <img class="todo-img" src="{{todolist.photo}}">
            <p class="title">{{todolist.label}}</p>
        </div>
    </mat-grid-tile>
</mat-grid-list>

